<div >

<!--   <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Category
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    {% for category in  retail.retail_categories %}
    <li>{{ category.name }}</li>
    {% endfor %}
  </ul>
</div> -->

<select name="category" id="category">
  <option value="all">Pick Category</option>
  {% for category in  retail.retail_categories %}
  <option value={{ category.name }}>{{ category.name }}</option>
  {% endfor %}
</select>

      <div class="panel-heading"> <h4>{{ object.title }}</h4></div>
          {% for outlet in retail.retail_outlets %}
            <div class="panel-default panel row">
                <div class="col-md-7" >
                    <img src={{ outlet.image }}>
                </div>
                <div class="col-md-5">
                    <h2> {{ outlet.name }}</h2> </br>
                    <div class="hidden-xs"> {{outlet.longDescription }} </div>
                    <div class="visible-xs-*"> {{outlet.shortDescription }} </div>
                </div>
            </div>

          {% endfor %}
      </div>
</div>